.user-card{
    text-align: center;
    cursor: pointer;
    height: 60px;
    background-color: white;
    margin: 10px 5px; 
    border-radius: 5px;
    box-shadow: 0 5px 8px rgba(9,45,66,.15);
    color: #343a40;
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
}
.user-card:hover{
    background-color: #F29A32;
    color: white;
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
}
.user-name{
    padding: 10px 20px;
    font-size: 12px;
    font-weight: normal;
}

.modal-image{
    width: 80px;
    height: 80px;
}
.modal-title{
    font-weight: bold;
    font-size: 15px;
}
.modal-subtitle{
    font-weight: normal;
    font-size: 12px;
}
.modal-repositories{
    color: #219267;
    font-size: 12px;
    font-weight: normal;
}
.modal-button{
    border-width: 0;
    color: white;
    font-weight: bold;
    background-color: #F29A32;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
}
.modal-button:hover{
    background-color: #42D79E;
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
}